body
{
    background-color: lightgray;
}
header
{
    background-color: #9ae17b;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.class-navigation
{
    list-style: none;
    display: inline;
    margin-right: 550px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}
.class-home
{
    background-color: #9ae17b;
}
.image
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 50vb;
    height: 50vb;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.image img
{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    align-items: right;
}
.class-about
{
    background-color: #9ae17b;
}
footer
{
    font-size: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}